
            * {
                margin: 10px;
                padding: 0;
            }
            body {
                background-image: url('image.png');
                font-family: 'Poppins', sans-serif;
                -webkit-background-size: cover;
                background-size: cover;
                background-position: center center;
                position: relative;

            }
            .wrapper {
                width: 1170px;
                margin: auto;
            }
            header {
                background-image: url('image.png');
                height: 100vh;
                -webkit-background-size: cover;
                background-size: cover;
                background-position: center center;
                position: relative;
            }
            .nav-area {
                float: right;
                list-style: none;
                margin-top: 0px;
            }
            .nav-area li {
                display: inline-block;
            }
            .nav-area li a {
                color: darkcyan;
                text-decoration: none;
                padding: 5px 20px;
                font-family: 'Lato', sans-serif;
                font-size: 18px;
                text-transform: uppercase;
            }
            .nav-area li a:hover {
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d8e0de+0,aebfbc+22,99afab+33,8ea6a2+50,829d98+67,4e5c5a+86,0e0e0e+100 */
background: rgb(216,224,222); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(216,224,222,1) 0%, rgba(174,191,188,1) 22%, rgba(153,175,171,1) 33%, rgba(142,166,162,1) 50%, rgba(130,157,152,1) 67%, rgba(78,92,90,1) 86%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 22%,rgba(153,175,171,1) 33%,rgba(142,166,162,1) 50%,rgba(130,157,152,1) 67%,rgba(78,92,90,1) 86%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 22%,rgba(153,175,171,1) 33%,rgba(142,166,162,1) 50%,rgba(130,157,152,1) 67%,rgba(78,92,90,1) 86%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 */

                color: white;
            }
            .logo {
                float: left;
            }
            .logo img {
                width: 100%;
                padding: 15px 0;
            }
            .welcome-text {
                position: absolute;
                width: 600px;
                height: 300px;
                margin: 20% 30%;
                text-align: center;
            }
            .welcome-text h1 {
                text-align: center;
                color: #fff;
                text-transform: uppercase;
                font-size: 60px;
            }
            .welcome-text h1 span {
                color: #00fecb;
            }
            .welcome-text a {
                border: 1px solid #fff;
                padding: 10px 25px;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 14px;
                margin-top: 20px;
                display: inline-block;
                color: #fff;
            }
            .welcome-text a:hover {
                background: #fff;
                color: #333;
            }
            /*resposive*/
            
            @media (max-width:600px) {
                .wrapper {
                    width: 100%;
                }
                .logo {
                    float: none;
                    width: 50%;
                    text-align: center;
                    margin: auto;
                }
                img {
                    width: ;
                }
                .nav-area {
                    float: none;
                    margin-top: 0;
                }
                .nav-area li a {
                    padding: 5px;
                    font-size: 5px;
                }
                .nav-area {
                    text-align: center;
                }
                .welcome-text {
                    width: 100%;
                    height: auto;
                    margin: 30% 0;
                }
                .welcome-text h1 {
                    font-size: 30px;
                }
            }
            